* {
    box-sizing: border-box;
    margin: auto;
}
/* Header */
header {
    background-color: #232f41;
    height: 300px;
}

#bigFont {
    font-size: 30px;
}
.navbar {
    display: flex;
    color: #FFF;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    font-size: 20px;
}

.groupRight {
    display: flex;
    margin-left: auto;
    gap: 15px;
}

.headerLowerPart {
    display: flex;
    color: #FFF;
    padding: 30px 70px 30px 80px;
}

.headerLowerPartLeft {
    margin: auto;
    padding-left: 50px;
}

#headerPic {
    margin-left: 40px;
}

/* Main1 */

.Main1 {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#Main1Head {
    padding: 30px;
    color: rgb(24, 24, 83);
}

.Main1Boxes {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 30px;
}

.Main1Boxes div {
    gap: 20px;
}

.boxes {
    display: flex;
    flex-direction: column;
}

.borderBoxes {
    border: solid #3882F6;
    padding: 50px;
}

/* Quote area */

.Quote {
    background-color: #E5E7EB;
    display: flex;
}

.QuoteAuthor {
    display: flex;
    flex-direction: column;
}

#quote {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
    font-family: "Cormorant Garamond", serif
}

#author {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 20px;
    margin-left: auto;
}

/* Sign up */

.signup {
    background-color: white;
}

.signupBox {
    background-color: #3882F6;
    display: flex;
    padding: 20px;
    margin: 50px;
}

.signup {
    margin: auto;
}
    

